<template>
    <div>
        <fieldset>
            <legend>Match {{match.index}}</legend>

            <fieldset>
                <legend>vs. Player</legend>
                <input v-model.trim="match.opponent">
            </fieldset>

            <div id="teamContainer">
                <Team side="Player" :value="match.teams.player" />
                <Team side="Opponent" :value="match.teams.opponent" />
            </div>

            <fieldset class="stack">
                <legend>
                    Results
                </legend>

                <label>
                    Result: <br/>
                    <select v-model="match.isWin">
                        <option :value="true">Win</option>
                        <option :value="false">Loss</option>
                    </select>
                </label>

                <div id="pointsContainer">
                    <label for="pointsInput" id="pointsLabel">
                        Points:
                    </label>
                    <input id="pointsInput" 
                        name="pointsInput" 
                        type="number" 
                        v-model.number="match.points">
                        <p id="pointsSummary">(Total so far: {{subTotal}})</p>
                </div>
            </fieldset>
            
            <fieldset>
                <legend>
                    Notes
                </legend>
                <textarea v-model.trim="match.notes"></textarea>
            </fieldset>
        </fieldset>
    </div>
</template>

<script>
import Team from './Team.vue';

export default {
    name: 'MatchEditor',
    components: {
        Team
    },
    props: ['match', 'subTotal']
}
</script>

<style scoped>

input {
    width: 100%;
}

textarea {
    width: 100%;
    height: 6rem;
}

#teamContainer {
    display: grid;
    grid-template-columns: 50% 50%;
}

.stack {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-items: start;
    grid-gap: 40px;
}

#pointsContainer {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 25% 1fr;
}

#pointsLabel {
    grid-row: 1;
    grid-column: 1;
}

#pointsInput {
    grid-row: 2;
    grid-column: 1;
}

#pointsSummary {
    grid-row: 2;
    grid-column: 2;
    margin: 0px 0px 0px 0.5rem;
}
</style>