<template>
    <div class="team">
        <fieldset>
            <legend>{{side}}</legend>

            <div class="teamMemberContainer">
                <div v-for="member in value.members" :key="member.id">
                    <input v-model.trim="member.value">
                </div>
                <div class="labeledInput">
                    <label :for="'bannerInput-' + side">Banner:</label>
                    <input v-model.trim="value.banner"
                        :name="'bannerInput-' + side">
                </div>
                <div class="labeledInput">
                    <label :for="'classInput-' + side">Class:</label>
                    <input v-model.trim="value.class"
                        :name="'classInput-' + side">
                </div>
            </div>
        </fieldset>
    </div>
</template>

<script>
export default {
    name: "team",
    props: {
        side: String,
        value: Object
    },
}
</script>

<style scoped>
input {
    width: 100%;
}

.teamMemberContainer {
    display: flex;
    flex-direction: column;
}

.labeledInput {
    display: grid;
    grid-template-rows: auto auto;
}
</style>

