<template>
    <div>
        <fieldset>
            <legend>Match {{match.index}}</legend>

            <fieldset>
                <legend>vs. Player</legend>
                <input v-model.trim="opponent" @input="emitUpdate">
            </fieldset>

            <div id="teamContainer">
                <Team side="Player" :team="playerTeam" @team-updated="teamUpdated" />
                <Team side="Opponent" :team="opponentTeam" @team-updated="teamUpdated" />
            </div>

            <fieldset class="stack">
                <legend>
                    Results
                </legend>

                <label>
                    Result: <br/>
                    <select v-model="isWin" @change="emitUpdate">
                        <option :value="true">Win</option>
                        <option :value="false">Loss</option>
                    </select>
                </label>

                <div id="pointsContainer">
                    <label for="pointsInput" id="pointsLabel">
                        Points:
                    </label>
                    <input id="pointsInput" 
                        name="pointsInput" 
                        type="number" 
                        v-model.number="points"
                        @input="emitUpdate">
                        <p id="pointsSummary">(Total so far: {{subTotal}})</p>
                </div>
            </fieldset>
            
            <fieldset>
                <legend>
                    Notes
                </legend>
                <textarea v-model.trim="notes" @input="emitUpdate"></textarea>
            </fieldset>
        </fieldset>
    </div>
</template>

<script>
import Team from './Team.vue';

function cloneTeam(team) {
    const members = [];
    for (let member of team.members) {
        members.push(member);
    }
    const banner = team.banner;
    const teamClass = team.class;

    return {
        members,
        banner,
        class: teamClass
    };
}

export default {
    name: 'MatchEditor',
    components: {
        Team
    },
    props: {
        match: {
            type: Object,
            required: true
        },
        subTotal: {
            type: Number,
            default: function() { return 0; }
        }
    },
    data: function() {
        return {
            index: 0,
            playerTeam: {
                members: [],
                class: '',
                banner: ''
            },
            opponentTeam: {
                members: [],
                class: '',
                banner: ''
            },
            opponent: '',
            notes: '',
            isWin: false,
            points: 0
        }
    },
    methods: {
        emitUpdate: function() {
            const result = {
                index: this.index,
                opponent: this.opponent,
                teams: {
                    player: this.playerTeam,
                    opponent: this.opponentTeam
                },
                notes: this.notes,
                isWin: this.isWin === true,
                points: this.points
            };

            this.$emit('match-update', result);
        },
        refreshMatch: function() {
            const teams = {
                player: cloneTeam(this.match.teams.player),
                opponent: cloneTeam(this.match.teams.opponent)
            };

            this.playerTeam = teams.player;
            this.opponentTeam = teams.opponent;

            this.index = this.match.index;
            this.opponent = this.match.opponent;
            this.notes = this.match.notes;
            this.isWin = this.match.isWin;
            this.points = this.match.points;
        },
        teamUpdated: function(teamInfo) {
            if (teamInfo.side === 'Player') {
                this.playerTeam = teamInfo.team;
            } else if (teamInfo.side === 'Opponent') {
                this.opponentTeam = teamInfo.team;
            } else {
                console.log(`WARNING: unknown side '${teamInfo.side}'`);
            }
            
            this.emitUpdate();
        }
    },
    watch: {
        match: function() {
            this.refreshMatch();
        }
    },
    created: function() {
        this.refreshMatch();
    }
}
</script>

<style scoped>

input {
    width: 100%;
}

textarea {
    width: 100%;
    height: 6rem;
}

#teamContainer {
    display: grid;
    grid-template-columns: 50% 50%;
}

.stack {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-items: start;
    grid-gap: 40px;
}

#pointsContainer {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 25% 1fr;
}

#pointsLabel {
    grid-row: 1;
    grid-column: 1;
}

#pointsInput {
    grid-row: 2;
    grid-column: 1;
}

#pointsSummary {
    grid-row: 2;
    grid-column: 2;
    margin: 0px 0px 0px 0.5rem;
}
</style>