<template>
    <div class="team">
        <fieldset>
            <legend>{{side}}</legend>

            <div class="teamMemberContainer">
                <div v-for="member in teamMembers" :key="member.id">
                    <input v-model.trim="member.value" @input="emitTeam">
                </div>
                <div class="labeledInput">
                    <label :for="'bannerInput-' + side">Banner:</label>
                    <input v-model.trim="teamBanner"
                        :name="'bannerInput-' + side"
                        @input="emitTeam">
                </div>
                <div class="labeledInput">
                    <label :for="'classInput-' + side">Class:</label>
                    <input v-model.trim="teamClass"
                        :name="'classInput-' + side"
                        @input="emitTeam">
                </div>
            </div>
        </fieldset>
    </div>
</template>

<script>
export default {
    name: "team",
    props: {
        side: {
            type: String,
            default: '<no side>'
        },
        team: {
            type: Object,
            default: function() {
                return {
                    members: [],
                    banner: '<no banner>',
                    class: '<no class>'
                };
            }
        }
    },
    data: function() {
        return {
            teamMembers: [],
            teamBanner: '',
            teamClass: ''
        };
    },
    created: function() {
        this.refreshTeam();
    },
    watch: {
        team: function() {
            this.refreshTeam();
        }
    },
    methods: {
        emitTeam: function() {
            const newTeam = {
                members: this.teamMembers,
                banner: this.teamBanner,
                class: this.teamClass
            };
            const result = {
                side: this.side,
                team: newTeam
            };
            this.$emit('team-updated', result);
        },
        refreshTeam: function() {
            this.teamMembers = [];
            for (let member of this.team.members) {
                this.teamMembers.push({id: member.id, value: member.value});
            }

            this.teamBanner = this.team.banner;
            this.teamClass = this.team.class;
        }
    }
}
</script>

<style scoped>
input {
    width: 100%;
}

.teamMemberContainer {
    display: flex;
    flex-direction: column;
}

.labeledInput {
    display: grid;
    grid-template-rows: auto auto;
}
</style>

