<template>
  <div id="app">

    <form>
      <fieldset>
        <legend>
          vs. Guild
        </legend>

        <input id="guildEntry" type="text" v-model="guild">
      </fieldset>
      <match-editor :match="matches[selectedMatchIndex]" 
                    :sub-total="pointTotal"
                    @match-update="matchUpdated" />
      
      <div id="matchButtons">
        <button type="button" @click="prevMatch">Previous Match</button>
        <button type="button" @click="nextMatch">Next Match</button>
      </div>

      <div>
        <h2>Summary Data</h2>

        <div id="summaryArea">
          <textarea id="summaryOutput" v-model="summaryJson" readonly>
          </textarea>
          <button type="button" @click="copySummary">Copy</button>
        </div>
      </div>
    </form>

  </div>
</template>

<script>
import MatchEditor from './components/MatchEditor.vue';

/*
  Match:
  {
    index: 1-5,
    opponent: string,
    teams: { player, opponent },
    notes: string,
    isWin: bool,
    points: number
  }
*/

const MATCHES_PER_DAY = 5;

function getEmptyTeams() {
    const playerMembers = [];
    const opponentMembers = [];

    for(let i = 0; i < 4; i++) {
      playerMembers.push({ id: i, value: '' });
      opponentMembers.push({ id: i, value: '' });
    }

    return {
      player: {
        banner: '',
        class: '',
        members: playerMembers
      },
      opponent: {
        banner: '',
        class: '',
        members: opponentMembers
      }
    };
}

function getStartupMatches() {
    const matches = [];
    for (let i = 0; i < MATCHES_PER_DAY; i++) {
      matches.push(getEmptyMatch(i + 1));
    }

    return matches;
}

function getEmptyMatch(index) {
  return {
      index,
      opponent: '',
      teams: getEmptyTeams(),
      notes: '',
      isWin: true,
      points: 0
    };
}

function convertAppTeamsToSummary(teams) {
  function convertTeam(team) {
    return {
      banner: team.banner,
      class: team.class,
      members: team.members.map(m => m.value)
    }
  }

  return {
    player: convertTeam(teams.player),
    opponent: convertTeam(teams.opponent)
  }

}

export default {
  name: 'app',
  components: {
    MatchEditor
  },
  data: function() {
    return {
      guild: '',
      selectedMatchIndex: 0,
      matches: getStartupMatches()
    };
  },
  computed: {
    pointTotal: function() {
      return this.matches.reduce((prev, current) => prev+current.points, 0);
    },
    summaryJson: function() {
      var result = {
        vsGuild: this.guild,
        result: {
          wins: 0,
          score: 0
        },
        matches: []
      };

      for (let match of this.matches) {
        result.result.wins += (match.isWin) ? 1 : 0;
        result.result.score += match.points;

        var reducedTeams = convertAppTeamsToSummary(match.teams);

        const matchInfo = {
          vsPlayer: match.opponent,
          teams: reducedTeams,
          result: {
            isWin: match.isWin,
            points: match.points
          },
          notes: match.notes
        };
        result.matches.push(matchInfo);
      }

      return JSON.stringify(result, null, 2);
    }
  },
  methods: {
    copySummary: function() {
      const summary = document.querySelector('#summaryOutput');
      summary.select();
      document.execCommand('copy');
    },
    nextMatch: function() {
      if (this.selectedMatchIndex < MATCHES_PER_DAY-1) {
        this.selectedMatchIndex += 1;
      }
    },
    prevMatch: function() {
      if (this.selectedMatchIndex > 0) {
        this.selectedMatchIndex -= 1;
      }
    },
    matchUpdated: function(newMatch) {
      this.$set(this.matches, this.selectedMatchIndex, newMatch);
    }
  }
}
</script>

<style>
* {
  box-sizing: border-box;
}

#app {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-left: 0.5em;
  margin-top: 1.5em;
}

#matchTeamContainer {
  display: flex;
}

#matchButtons {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: start;
  grid-gap: 20px;
}

#matchButtons button {
  min-width: 200px;
  font-size: 1.0rem;
}
</style>

<style scoped>
input {
  width: 100%;
}

#summaryOutput {
  width: 100%;
  height: 6rem;
}
</style>
